form(method="POST", action="/regdomain")
  table.form-table
    tr
      th
        label(for="domain-name")= msg('domain-name')
      td
        - if (domain)
          input(type="text", id="domain-name", name="name", value=domain.name)
        - else
          input(type="text", id="domain-name", name="name", value='')
        \.net9.org
    tr
      th
        label(for="ip-address")= msg('ip-address')
      td
        - if (domain)
          input(type="text", id="ip-address", name="ip", value=domain.ip)
        - else
          input(type="text", id="ip-address", name="ip", value='')
    tr
      th
        label(for="domain-desc")= msg('domain-desc')
      td
        - if (domain)
          textarea(id="domain-desc", name="desc")=domain.desc
        - else
          textarea(id="domain-desc", name="desc")=''
    tr
      th
      td
        input(type="submit", value=msg('Submit'))
        a.button(href="/" + username)= msg('Cancel')
