<div class="row">
  <div class="span6">
    <h2><%= msg('my-info') %></h2>
    <table class="table">
      <% if (userinfo.nickname) { %>
        <tr>
          <th><%= msg('Nickname') %></th>
          <td><%= userinfo.nickname %></td>
        </tr>
      <% } %>
      <% if (userinfo.fullname) { %>
        <tr>
          <th><%= msg('full-name') %></th>
          <td><%= userinfo.fullname %></td>
        </tr>
      <% } %>
      <% if (userinfo.email) { %>
        <tr>
          <th><%= msg('Email') %></th>
          <td><a href="mailto:<%= userinfo.email %>"><%= userinfo.email %></a></td>
        </tr>
      <% } %>
      <% if (userinfo.mobile) { %>
        <tr>
          <th><%= msg('Mobile') %></th>
          <td><%= userinfo.mobile %></td>
        </tr>
      <% } %>
      <% if (userinfo.website) { %>
        <tr>
          <th><%= msg('Website') %></th>
          <td><a href="<%= userinfo.website %>" target="_blank"><%= userinfo.website %></a></td>
        </tr>
      <% } %>
      <% if (userinfo.address) { %>
        <tr>
          <th><%= msg('Address') %></th>
          <td><%= userinfo.address %></td>
        </tr>
      <% } %>
      <% if (userinfo.birthdate) { %>
        <tr>
          <th><%= msg('birth-date') %></th>
          <td><%= msg('birthdate-format', userinfo.birthdate.slice(0, 4), userinfo.birthdate.slice(4, 6), userinfo.birthdate.slice(6, 8)) %></td>
        </tr>
      <% } %>
      <% if (userinfo.bio) { %>
        <tr>
          <th><%= msg('Bio') %></th>
          <td><%= userinfo.bio %></td>
        </tr>
      <% } %>
    </table>
  </div>
  <div class="span6">
    <h2><%= msg('my-domains') %></h2>
    <% if (domains.length) { %>
      <ul>
        <%- partial('partials/domainitem', domains) %>
      </ul>
    <% } else { %>
      <p>
        <%= msg('no-apps-yet') %>
      </p>
    <% } %>
    <a href="/regdomain" class="btn btn-primary"><%= msg('register-new-domain') %></a>
 </div>
</div>
